@media print {
  @page {
    size: A4;
    margin: 0.5cm;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .print-hidden {
    display: none !important;
  }

  .page-break {
    page-break-after: always;
  }
}

